body {
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  color: var(--color-text-prime);
  background-color: var(--color-bg);
}
body.modal-open {
  padding-right: 16px;
  position: fixed;
  width: 100%;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
input::placeholder {
  color: var(--color-text-input);
  font-size: 10.2px;
}
