$white-color: rgba(255, 255, 255, 1);
$font: Montserrat;
$green-color: rgba(3, 153, 0, 1);
$black-color: rgba(0, 0, 0, 1);
$input-background-color: rgba(215, 215, 215, 1);
$input-text: rgba(126, 126, 126, 1);
