<footer class="footer">
  <div class="container footer__container">
    <a class="logo" href="./index.html">
      <img src="./images/footer-logo.svg" alt="Логотип" />
    </a>
    <ul class="footer__contacts contacts">
      <li class="contacts__item">
        <a class="contacts__link" href="tel:+381234567890"
          >Тел: +38 (123) 456 78 90</a
        >
      </li>
      <li class="contacts__item">
        <a class="contacts__link" href="mailto:codingmagic@gmail.com"
          >E-Mail: codingmagic@gmail.com</a
        >
      </li>
      <li class="contacts__item">
        <a
          class="contacts__link"
          href="https://www.facebook.com"
          target="_blank"
          >Facebook: CodingMagic</a
        >
      </li>
      <li class="contacts__item">
        <a class="contacts__link" href="https://x.com" target="_blank"
          >Twitter: CodingMagic</a
        >
      </li>
      <li class="contacts__item">
        <a
          class="contacts__link"
          href="https://www.instagram.com"
          target="_blank"
          >Instagram: CodingMagic</a
        >
      </li>
    </ul>

    <div class="form-wrapper">
      <form class="subscribe-form">
        <div class="subscribe-form__field">
          <label class="subscribe-form__label" for="user-email">Email</label>
          <input
            class="subscribe-form__input"
            type="email"
            placeholder="Ваша ел. адреса..."
          />
        </div>
        <button class="subscribe-form__button" type="submit">
          Підписатись
        </button>
      </form>
      <p class="form-info">
        *Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
      </p>
    </div>
  </div>
</footer>
