<header class="header">
  <div class="container header__container">
    <div class="header__text">
      <a class="header__link" href="#">
        <img
          class="header__img"
          src="./images/header-logo.svg"
          alt="header-logo"
      /></a>
      <ul class="header__list">
        <li class="header__list-item">
          Інтерактив
          <button class="header__list-button">
            <img
              class="header__list-img"
              src="./images/arrow-down.svg"
              alt="arrow"
            />
          </button>
        </li>
        <li id="header__list-team" class="header__list-item">Наша команда</li>
        <li id="header__list-team" class="header__list-item">Контакти</li>
      </ul>
    </div>
    <div class="header__lowertext">
      <button class="header__shift-button">
        <div class="header__shift-wrapper">
          <img
            class="header__shift-img"
            src="./images/header-sun.svg"
            alt="button-setting"
          />
        </div>
      </button>
      <p class="header__user">
        Вітаємо, <span class="header__text-user"></span>!
      </p>
    </div>
  </div>
</header>
