<header class="header">
  <div class="container header__container">
    <div class="header__text">
      <a class="header__link" href="#">
        <img
          class="header__img"
          src="./images/header-logo.svg"
          alt="header-logo"
      /></a>
      <ul class="header__list">
        <li class="header__list-item">
          <div class="header__list-wrapper">
            <a class="header__list-link" href="#">Інтерактив</a>
            <button class="header__list-button"></button>
          </div>
          <ul class="header__filter" data-filter>
            <li class="header__filter-item">
              <button class="header__filter-button" data-category="numerical">
                Числовий
              </button>
            </li>
            <li class="header__filter-item">
              <button class="header__filter-button" data-category="game">
                Ігровий
              </button>
            </li>
            <li class="header__filter-item">
              <button
                class="header__filter-button"
                data-category="acquaintance"
              >
                Ознайомчий
              </button>
            </li>
          </ul>
        </li>
        <li class="header__list-item">
          <a class="header__list-link" href="#">Наша команда</a>
        </li>
        <li class="header__list-item">
          <a class="header__list-link" href="#">Контакти</a>
        </li>
      </ul>
    </div>
    <div class="header__lowertext">
      <div class="swipper">
        <input data-theme_swipper class="swipper__input" type="checkbox" />
      </div>
      <p class="header__user">
        Вітаємо, <span class="header__text-user"></span>!
      </p>
    </div>
    <div class="welcome-backdrop" data-welcome-backdrop>
      <div class="welcome-modal">
        <button class="welcome-modal__button-close" data-welcome-close></button>
        <div class="welcome">
          <p class="welcome__message">
            Привіт!<br />
            Ви потрапили на сайт інтерактивних ігор та завдань Надіємось, що вам
            сподобається і ви отримаєте позитивні емоції! Бажаємо Вам гарно
            провести час!
          </p>
          <form class="welcome__form" data-welcome-form>
            <div class="welcome__form-field">
              <label class="welcome__form-label" for="welcome-name"
                >Введіть своє ім’я:</label
              >
              <input
                class="welcome__form-input"
                id="welcome-name"
                type="text"
                placeholder="Ваше ім’я..."
              />
            </div>
            <button class="welcome__form-button" type="submit">Зберегти</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
