.footer {
  padding-block: 40px;
  background-color: var(--color-bg);
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

@media (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
