.header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 361px;
  padding: 0 175px;
}
.header__text {
  display: flex;
  gap: 81px;
}
.header__lowertext {
  display: flex;
  align-items: center;
  gap: 51px;
}
.header__img {
  width: 93px;
  height: 38px;
  margin: 0;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__shift-button {
  width: 40px;
  height: 20px;
  background-color: var(--color-bg-checker);
  border-radius: 11px;
  display: flex;
  align-items: center;
  padding: 0;
}
.header__shift-img {
  height: 14.6px;
}
.header__shift-wrapper {
  background-color: var(--color-bg);
  border: 0.5px solid var(--color-text-prime);
  height: 20px;
  border-radius: 50%;
  width: 20.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__list-item {
  position: relative;
}
.header__list-button {
  width: 5px;
  height: 9px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-image: url(../images/arrow-down.svg);
}
.header__filter {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: -30px;
  width: 160%;
  border: 1px solid var(--color-text-prime);
  border-top: 0;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
}
.header__filter-button {
  background-color: transparent;
  padding: 10px 0;
  width: 100%;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.header__filter-button:hover {
  background-color: var(--color-filter-hover);
}
