.rock-paper-scissors__container {
  text-align: center;
}
.rock__title {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 36px;
}
.rock__wrapper {
  display: flex;
  gap: 38px;
  justify-content: center;
  padding-bottom: 36px;
}
.rock__wrapper-button {
  background-color: var(--color-text-prime);
  width: 60px;
  height: 60px;
  border-radius: 30%;
}
.rock__content-wrapper {
  display: flex;
}
.rock__score {
  display: flex;
  flex-direction: column;
}
