.rock__container {
  text-align: center;
}
.game__title {
  padding-bottom: 36px;
}
.rock__wrapper {
  display: flex;
  gap: 38px;
  justify-content: center;
  padding-bottom: 36px;
  align-items: center;
}

.rock__button {
  background-color: var(--color-text-prime);
  width: 60px;
  height: 60px;
  border-radius: 30%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 36px;
  margin-bottom: 36px;
  transition: box-shadow 0.5s ease;
}
.rock__button:focus {
  box-shadow: 0px 0px 8px 10px var(--color-shadow);
}
.rock__counter {
  font-weight: 400;
}
.rock__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rock__score {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 65%;
}
.rock__button--rock {
  background-image: url(../images/rock.png);
}
.rock__button--scissors {
  background-image: url(../images/scissors.png);
}
.rock__button--paper {
  background-image: url(../images/paper.png);
}
.rock__button-start {
  width: 182px;
  height: 35px;
  border-radius: 20px;
  color: var(--color-bg);
}
.result__win {
  color: var(--color-alert-success);
}
.result__lose {
  color: var(--color-alert-error);
}
