.our-team__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
  position: relative;
}
.teammate__photo {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  overflow: hidden;
}
.teammate__img {
  object-fit: contain;
  height: 100%;
}
.slider {
  overflow: hidden;
}
.slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 100px;
  background-color: transparent;
  background-size: cover;
}
.left__button {
  left: -93px;
  background-image: url(../images/left-stripe.jpg);
}
.right__button {
  right: -93px;
  background-image: url(../images/rigth-stripe.jpg);
}
.slider__list {
  display: flex;
  width: 100%;
  transition: transform 0.4s ease;
}
.slider__item {
  min-width: 100%;
}
.teammate {
  display: flex;
  align-items: center;

  flex-direction: column;
  gap: 20px;
}
.slider__pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 16px;
  padding: 0;
  list-style: none;
}

.pagination__dot {
  width: 18px;
  height: 3px;
  background-color: var(--color-bg-cards-unactive);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  transition: 0.5s;
  border-radius: 3px;
}

.pagination__dot.active {
  background-color: var(--color-bg-pagiantion-active);
  width: 30px;
}
