.welcome-backdrop {
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: var(--color-shadow);
}
.welcome-modal {
  padding-top: 46px;
  padding-bottom: 42px;
  min-height: 316px;
  width: 576px;
  background-color: var(--color-bg);
  background-image: url(../images/modal/game-development.png),
    url(../images/modal/puzzle.png), url(../images/modal/sword.png),
    url(../images/modal/tic-tac-toe.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: right 41px bottom 132px, left 85px bottom 56px,
    left 41px bottom 132px, right 85px bottom 55px;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.welcome-modal__button-close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  transition: transform 0.75s ease;
  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--color-text-prime);
    top: calc(50% - 1px);
    left: 0;
  }
  &::before {
    transform: rotate(-45deg);
  }
  &::after {
    transform: rotate(45deg);
  }

  &:hover {
    transform: rotate(90deg);
  }
}
.welcome {
  max-width: 392px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  text-align: center;
}
.welcome-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
.welcome__form-field {
  display: flex;
  flex-direction: column;
}
.welcome__form-label {
  padding-bottom: 18px;
}
.welcome__form-input {
  margin-bottom: 18px;
  background-color: var(--color-bg-input);
  border-radius: 20px;
  padding: 10px 20px;
  color: var(--color-text-input);
}
.welcome__form-button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--color-text-prime);
  color: var(--color-bg);
  box-shadow: 3px 3px 0 0 var(--color-shadow);
  line-height: 1.25;
  transition: scale 0.25s ease;
  cursor: pointer;
  &:hover {
    scale: 1.05;
  }
}

body.modal-open {
  overflow: hidden;
}
